<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>NO NINJAS HERE!</h1>

  </body>
</html>


<form action='/ninja' method='POST'>

    <input type="submit" value="CLICK HERE TO SEE ALL NINJAS!">

</form>
<br>
<br>
<form style="border: 2px solid black; padding: 50px; display: inline-block"action='/find_ninja' method='POST'>
  <h2>Enter a color below and select the SUBMIT button to view the corresponding Ninja Turtle!</p>
  <p>(Hint: red, blue, orange, or purple)</p>

  <input type="text" name="text" placeholder="Enter Color">
  <input type="submit" value= "SUBMIT" name="SUBMIT">

</form>
